@import './vars.styl';

article
  background: white
  border-radius: (grid/4)
  padding: 4*grid

  header
    border-bottom: 2px solid background
    margin-bottom: 3*grid
    padding-bottom: 3*grid

    dl
      display: flex
      flex-flow: row wrap
      margin: 0

      dt
        flex-grow: 0
        font-weight: bolder
        width: 80px

      dd
        flex-grow: 1
        margin: 0
        width: calc(100% - 80px)

  p
    margin: 0 0 1.5*grid

    &:last-child
      margin-bottom: 0

  ul, ol
    margin: 1.5*grid 0
