@import './vars.styl';

nav
  margin: 3*grid 0

  ol
    align-items: stretch
    counter-reset: step
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    list-style: none
    margin: 0
    padding: 0

    li
      align-items: center
      counter-increment: step
      display: flex
      flex-flow: row nowrap
      margin: 3*grid 0 2*grid
      padding: 0
      position: relative

      &::before
        content: 'step ' counter(step)
        color: gray
        font-size: 12px
        font-weight: bolder
        height: 2*grid
        position: absolute
        text-transform: uppercase
        top: -3*grid
