@import './vars.styl'

.custom-select
  border: 2px solid primaryColour
  border-radius: 3px
  height: 5*grid
  position: relative
  width: 100%

  &::after
    background: primaryColour url('../images/arrow.svg') no-repeat 50% 50%
    content: ''
    height: 5*grid
    pointer-events: none
    position: absolute
    right: 0
    top: 0
    width: 5*grid

  select
    -webkit-appearance: none
    background: transparent
    border: none
    box-shadow: none
    font-size: 14px
    height: 100%
    padding: grid 2*grid
    width: 100%

    &:focus
      outline: none

  &.disabled
    border-color: gray

    &::after
      background-color: gray
