@import './vars.styl';

aside
  background: white
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  padding: 4*grid
  width: 53*grid

  h1
    font-size: 4*grid
    margin: 0 0 grid

  p
    margin: 0 0 grid
